@charset ="UTF-8";

#serviços {
display: flex;
flex-direction: row;
align-items: center;
padding: 30px;  
flex-wrap: wrap;
}
/*
+column mobile row cp
-flex-wrap cp
align-items: flex-start; cp
margin: 0 auto; cp
max-width: 1000px; cp
*/


#serviços div {
flex-grow: 1;
flex-basis: 150px;
padding: 0 10px;

display: flex;
flex-direction: column;
align-items: center;
margin-top: 30px;
text-align: center;
}
/*3 primeiros para cp*/


#serviços div p {
padding: 0 10px;
padding-bottom: 20px;
}
/*flex-grow: 1;
flex-basis: 150px;*/

#serviços h2 {
width: 100%;
text-align: center;
color: #585050;
}








