@charset "UFT-8";

body {
  background-color: white;
  font-family: Nunito, Arial, Helvetica, sans-serif;
  color: #a79898;
}

h1 {
  font-family: Asap;
  color: #a79898;
}

a {
  text-decoration: none;
  color: #a79898;
}

.meio-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding-top: 20px;
}

video {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  height: 230px;
}

.conteudo {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  padding: 30px;
  text-align: center;
  border-radius: 30px;
}

.meio-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: #00c9e6;
}

.meio-2 img {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.conteudob {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  padding: 30px;
  text-align: center;
}

.conteudob h1 {
  color: #585050;
}

.conteudob p {
  color: #585050;
}

.meio-3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.meio-3 img {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 96%;
}

.conteudoc {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 30px;
  width: 80%;
}

#serviços {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  color: black;
  background-color: #00c9e6;
}

#serviços div {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
  text-align: center;
}

#serviços img {
  height: 30%;
  width: 30%;
}

#serviços h2 {
  color: #585050;
}

footer p {
  text-align: center;
}

footer {
  text-align: center;
  padding: 33px;
  color: #585050;
  background-color: #a79898;
  font-size: 8pt;
}

footer h2 a {
  color: #585050;
  font-size: 13pt;
}

footer h1 {
  color: white;
}

.lic1 p {
  text-align: center;
  margin: 2px auto;
  font-size: 8pt !important;
}

/*COMPUTADOR*/
@media screen and (min-width: 768px) {
  body {
    max-width: 1220px;
    margin: 0 auto;
  }

  .meio-1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    height: 325px;
  }

  video {
    display: flex;
    flex-direction: row;
    align-items: center;
    float: left;
    margin-left: 20px;
    height: 95%;
    width: 45%;
  }

  .conteudo {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 34%;
    padding: 20px;
    margin-left: 110px;
    height: 100%;
  }
  .conteudo h1 {
    font-size: 25pt;
  }
  .conteudo p {
    font-size: 18pt;
  }

  .meio-2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    background-color: #00c9e6;
    height: 700px;
  }

  .meio-2 img {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 55%;
    float: right;
    height: 95%;
    margin-right: 30px;
  }
  .conteudob {
    width: 30%;
    padding: 73px;
    float: left;
    text-align: center;
    height: 40%;
  }

  .conteudob h1 {
    font-size: 30pt;
    color: #585050;
  }

  .conteudob p {
    font-size: 18pt;
    color: #585050;
  }

  .meio-3 {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 700px;
    width: 100%;
  }

  .meio-3 img {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 600px;
    height: 600px;
    float: left;
  }

  .conteudoc {
    width: 40%;
    float: right;
    text-align: center;
    padding: 50px;
    height: 90%;
  }

  .conteudoc h1 {
    font-size: 25pt;
  }

  .conteudoc h2 {
    font-size: 20pt;
    margin-bottom: 0px;
  }

  .conteudoc p {
    font-size: 15pt;
  }

  #serviços {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    margin: 0 auto;
    max-width: 1300px;
  }

  #serviços div {
    flex-grow: 1;
    flex-basis: 195px;
    padding: 0px 50px;
    border-radius: 10px;
    
  }

  #serviços h2 {
    width: 100%;
    text-align: center;
  }

  #serviços img {
    height: 45%;
    width: 45%;
  }

  footer {
    height: 25vh;
  }

  footer h1 {
    font-size: 18pt;
  }

  .lic1 {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
  }

  .lic1 p {
    width: 33%;
    text-align: center;
    margin: 10px auto;
  }
}